* { 
	background: #171717;	
}

.header {
	display: flex;
	background-color:#f449d5;
	color: #171717;
	width: 100%;
	height: 8em;
}

.header span {
	background-color:#f449d5;
	color: #272727;
	align-self: flex-end;
	font-size: 3em;
}

nav {
	padding-top:20px;
	padding-bottom: 10px; 
	font-size: 1.5em;
	border-style: none none solid none;
	margin-bottom: 10px;
}

a {
	color: #f449d5;
	text-decoration: none;
}

a:hover {
	color: #f449d5;
	text-decoration: underline;
}

a:visited {
	color: #f449d5;
	text-decoration: none;
}

body {
	max-width: 700px;
	margin: auto;
	font-family: serif;
	color: #ededed;
}

main {
	width: 600px;
}

main p {
	line-height: 160%;
}

main blockquote {
	padding: 10px; 
	border-style: none none none solid;
	border-color: #f449d5;
	font-style: italic;
}

pre {
	padding: 10px; 
	font-family: mono;
	border-style: solid;
	overflow: auto;
}

img {
	margin-left: 0pc;
	padding-left: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 700px;
}

footer {
	margin-top: 50px;
	margin-bottom: 50px;
	color: #999999;
	font-style: italic;
}

footer img {
	width: 40px;
	padding-bottom: 5px;
}

iframe {
	margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
	body {
		padding: 20px;
	}
	img {
		max-width: 100%;
	}

	main {
		width: 100%;
	}
  
}
