<footer>
	<!-- <a href='https://webring.xxiivv.com/#random' target='_blank'>
		<img src='https://webring.xxiivv.com/icon.white.svg' height="32" class="footer-icons"/>
	</a> -->
	<a href='https://www.github.com/jameschip' target='_blank'>
		<img src='https://www.jameschip.io/github_logo.png' height="32" class="footer-icons"/>
	</a>
	<a href='https://boardgames.social/@big_chip' target='_blank'>
		<img src='https://www.jameschip.io/mastodon_logo.png' height="32" class="footer-icons"/>
	</a>
	<a href='https://www.youtube.com/user/jameschip22' target='_blank'>
		<img src='https://www.jameschip.io/youtube_logo.png' height="32" class="footer-icons"/>
	</a>
</footer>
