<footer>
	
	<script src="https://assets.digitalclimatestrike.net/widget.js" async></script>
	
	<a href='https://webring.xxiivv.com/#random' target='_blank'>
		<img src='https://webring.xxiivv.com/icon.white.svg' height="32" class="footer-icons"/>
	</a>
	<a href='https://www.github.com/jameschip' target='_blank'>
		<img src='https://www.jameschip.io/footer_images/github_logo.png' height="32" class="footer-icons"/>
	</a>
	<a href='https://boardgames.social/@big_chip' target='_blank'>
		<img src='https://www.jameschip.io/footer_images/mastodon_logo.png' height="32" class="footer-icons"/>
	</a>
	<a href='https://www.youtube.com/user/jameschip22' target='_blank'>
		<img src='https://www.jameschip.io/footer_images/youtube_logo.png' height="32" class="footer-icons"/>
	</a>
	<a href='https://www.jameschip.io/index.xml' target='_blank'>
		<img src='https://www.jameschip.io/footer_images/rss_logo.png' height="32" class="footer-icons"/>
	</a>

</footer>
